---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import { getProductsByCategory } from "../../services/fetchData";
import ProductsList from "../../components/ProductsList.astro";
import type { Product } from "src/services/types";

const path = Astro.url;
const queries = Object.fromEntries(path.searchParams.entries());

console.log(queries)

const BASE_URL = import.meta.env.AWS_CLOUDFRONT_URL;
let { category } = Astro.params;

const productsList: Product[] = await getProductsByCategory(category!);

if(!productsList){
  return Astro.redirect("/")
}
---

<Layout title=`${category?.toLocaleUpperCase()} | VIGI`>
  <main class="px-4 pb-4 sm:px-8 sm:pb-8 max-w-[1180px] m-auto">
    <div class="relative flex items-center">
      <h3 class="absolute pl-14 font-bold text-center sm:text-xl lg:text-5xl  text-white">{category?.toLocaleUpperCase()}</h3>
      <img class=" rounded" src=`${BASE_URL}/categories/${category}_banner.png` alt=`${category}_banner` />
    </div>
    {
      productsList.length == 0 ? (
        <div class="flex justify-center items-center h-96">
          <h3 class="text-cente">No hay productos en esta categoría</h3>
        </div>
      ) : (
        <ProductsList productsList={productsList} />
      )
    }
  </main>
</Layout>
