---
import Layout from "../../layouts/Layout.astro";
import { fetchData } from "../../services/fetchData";
import type { Product } from "../../services/types";
import Truck from "@/components/Icons/Truck.astro";
import BuyButton from "@/components/Buttons/BuyButton";
import AddCartButton from "@/components/Buttons/AddCartButton";
import QuantitySelect from "@/components/Buttons/QuantitySelect";
import ProductCaracteristics from "../../components/ProductCaracteristics.astro";
import Favorite from "@/components/Icons/Favorite";

export async function getStaticPaths() {
  const products = await fetchData("getAllProducts");

  return products.map((product: Product) => ({
    params: {
      model: product.model,
    },
  }));
}

const { model } = Astro.params;
const product = (await fetchData(`getProduct?model=${model}`)) as Product;
---

<Layout title=`${model} | VIGI`>
  <main class="p-4 sm:px-8 max-w-[1180px] m-auto">
    <header class="my-5">
      <h3 class="text-primary font-bold text-2xl">{product.provider}</h3>
    </header>
    <section class="w-full flex flex-col sm:flex-row-reverse">
      <!-- GALERIA -->
      <article class="w-full flex justify-center">
        <img src={product.thumbnail} alt={product.model} />
      </article>
      <article class="w-full sm:w-1/2 flex flex-col gap-8 my-3">
        <!-- DESCRIPCION -->
        <div>
          {
            product.has_promotion && (
              <span class="text-green-600 mb-1">Oferta</span>
            )
          }
          <div class="flex justify-between">
            <h6 class="text-3xl sm:text-4xl">
              {
                product.price.toLocaleString("es-AR", {
                  style: "currency",
                  currency: "ARS",
                  minimumFractionDigits: 0,
                })
              }
          </h6>
          <span class="right-1 hover:scale-110 transition-transform hover:cursor-pointer"><Favorite client:visible product={product}/></span>
        </div>
          <h4 class="text-4xl font-bold mb-2 sm:text-5xl">{product.model}</h4>
        </div>
        <!-- CANTIDAD Y ENVIO -->
        <div>
          <QuantitySelect client:visible id={product._id} />
          <span class="block text-xs mt-1"
            >*Mas de 5 unidades tienen precios especiales</span
          >
          <div class="mt-3 flex items-center gap-2">
            <Truck height="18" width="18" />
            <span class="font-bold text-sm"> Envíos a todo el país</span>
          </div>
          <a class="text-primary text-xs hover:underline" href="#"
            >Otras formas de entrega</a
          >
        </div>
        <!-- BOTONES -->
        <div class="grid gap-3">
          <BuyButton client:visible product={product}/>
          <AddCartButton client:visible product={product} buttonLabel="Agregar al carrito"/>
        </div>
      </article>
    </section>
    <section class="bg-gray-100 p-4 shadow-xl rounded-2xl my-20">
      <ProductCaracteristics product={product} />
    </section>
    <section>
      {
        //DESCRIPCION
      }
    </section>
    <section>
      {
        //Otros productos
      }
    </section>
  </main>
</Layout>
