---
import Layout from "../layouts/Layout.astro";
import { getCartData } from "../services/fetchData";
import { type CartItem } from "../services/types";
import QuantitySelect from "../components/Buttons/QuantitySelect";
import Sad from "../components/Icons/Sad.astro";
import DeleteItemButton from "../components/Buttons/DeleteItemButton";
import PayCartButton from "../components/PayCartButton";

export const prerender = false;

const token = Astro.cookies.get("check");

let cart;
if (token == undefined) {
  return Astro.redirect("/login");
  // cart = {items: [], products_total: 0, amount_to_pay: 0};
} else {
  cart = await getCartData(token.value);
}
---

<Layout title={`Cart (${cart.products_total}) | VIGI`}>
  <main class="p-4 sm:px-8 max-w-[1180px] m-auto">
    <div class="sm:py-3 sm:w-[550px] lg:w-[600px] 2xl:w-[750px]">
      <h2
        class="text-primary font-bold mt-1 mb-3 text-base sm:text-2xl 2xl:text-3xl"
      >
        Carrito.<span class="text-black font-normal"> ¡Ya casi es tuyo!</span>
      </h2>
    </div>

    <section class="flex flex-col sm:flex-row gap-12 justify-between">
      <article class="w-full">
        <div class="flex flex-col gap-4 border rounded-md px-2 pt-2">
          {
            cart.items.length > 0 ? (
              <table>
                <tr>
                  <th>&nbsp;</th>
                  <th class="font-normal">Productos</th>
                  <th class="font-normal">Precio</th>
                  <th class="font-normal">Unidades</th>
                  <th class="font-normal">Subtotal</th>
                  <th>&nbsp;</th>
                </tr>
                {cart.items.map((product: CartItem) => (
                  <tr>
                    <td class="max-w-14">
                      <img
                        src={product.picture_url}
                        alt={product.title}
                        class="w-10 h-10 sm:w-14 sm:h-14"
                      />
                    </td>
                    <td>
                      <h4 class="text-primary sm:text-xl text-center">
                        {product.title}
                      </h4>
                    </td>
                    <td>
                      <p class="text-black text-center text-base">
                        {product.unit_price.toLocaleString("es-AR", {
                          style: "currency",
                          currency: "ARS",
                          minimumFractionDigits: 0,
                        })}
                      </p>
                    </td>
                    <td class="text-center">
                      <span class="text-center">{product.quantity}</span>
                    </td>
                    <td class="text-center">
                      {(product.quantity * product.unit_price).toLocaleString(
                        "es-AR",
                        {
                          style: "currency",
                          currency: "ARS",
                          minimumFractionDigits: 0,
                        }
                      )}
                    </td>
                    <td>
                      <DeleteItemButton
                        client:visible
                        product_id={product.id}
                      />
                    </td>
                  </tr>
                ))}
              </table>
            ) : (
              <div class="p-3  flex flex-col justify-center items-center gap-2">
                <Sad />
                <span class="text-base">No hay productos en el carrito</span>
              </div>
            )
          }
        </div>
      </article>
      <article class="w-full sm:w-2/4 bg-gray-200 px-10 py-5 rounded-md">
        <div class="w-full mb-8">
          <h5 class="my-2 font-semibold text-lg">Entrega</h5>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <span class="text-xs">Conoce las opciones de envio, incluyendo plazos y costos
            </span>
            <button
              class="w-full max-h-11 bg-primary border-2 border-primary text-white p-2 rounded-md hover:opacity-70 transition-opacity"
              >Calcular</button
            >
          </div>
        </div>
        <div class="w-full mb-8">
          <h5 class="my-2 font-semibold text-lg">Instalacion</h5>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <span class="text-xs">Si necesitas a un profesional para tu instalacion, lo tenemos.
            </span>
            <button
              class="w-full max-h-11 bg-primary border-2 border-primary text-white p-2 rounded-md hover:opacity-70 transition-opacity"
              >Calcular</button
            >
          </div>
        </div>
        <div class="mb-12">
          <h5 class="my-2 font-semibold text-lg">¿Tienes un cupón?</h5>
          <form>
            <label> Código del cupón</label>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              <input
                placeholder="XXXX XXXX"
                type="text"
                class="bg-gray-200 border-b-2 border-gray-300 focus:border-none"
              />
              <button
                class="w-full max-h-11 bg-primary border-2 border-primary text-white p-2 rounded-md hover:opacity-70 transition-opacity"
                >Agregar</button
              >
            </div>
          </form>
        </div>
        <div>
          <h5 class="my-2 text-lg text-center">Resumen de la compra</h5>
          <div class="flex justify-between">
            <span>Subtotal</span>
            <span>{
                cart.amount_to_pay.toLocaleString("es-AR", {
                  style: "currency",
                  currency: "ARS",
                  minimumFractionDigits: 0,
                })
              }</span
            >
          </div>
          <div class="flex justify-between">
            <span>Envio</span>
            <span>{
                cart.amount_to_pay.toLocaleString("es-AR", {
                  style: "currency",
                  currency: "ARS",
                  minimumFractionDigits: 0,
                })
              }</span
            >
          </div>
          <div class="flex justify-between">
            <span>Descuento</span>
            <span>- {
                cart.amount_to_pay.toLocaleString("es-AR", {
                  style: "currency",
                  currency: "ARS",
                  minimumFractionDigits: 0,
                })
              }</span
            >
          </div>
          <div class="flex justify-between my-6">
            <span class="font-bold">Total:</span>
            <span class="font-bold">{
                cart.amount_to_pay.toLocaleString("es-AR", {
                  style: "currency",
                  currency: "ARS",
                  minimumFractionDigits: 0,
                })
              }</span
            >
          </div>
        </div>
        <PayCartButton client:visible cart={cart} />
      </article>
    </section>
  </main>
</Layout>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px;
  }
</style>
