---
import Layout from "../layouts/Layout.astro";
import { getCartData } from "../services/fetchData";
import { type CartItem } from "../services/types";
import QuantitySelect from "../components/Buttons/QuantitySelect";
import Sad from "../components/Icons/Sad.astro";
import DeleteItemButton from "../components/Buttons/DeleteItemButton";
import OrderResume from "../components/OrderResume";

const token = Astro.cookies.get("check");

let cart;
if (token == undefined) {
  return Astro.redirect("/login");
  // cart = {items: [], products_total: 0, amount_to_pay: 0};
} else {
  cart = await getCartData(token.value);
}
---

<Layout title={`Cart (${cart.products_total}) | VIGI`}>
  <main class="p-4 sm:px-8 max-w-[1180px] m-auto">
    <div class="sm:py-3 sm:w-[550px] lg:w-[600px] 2xl:w-[750px]">
      <h2
        class="text-primary font-bold mt-1 mb-3 text-base sm:text-2xl 2xl:text-3xl"
      >
        Carrito.<span class="text-black font-normal"> ¡Ya casi es tuyo!</span>
      </h2>
    </div>

    <section class="flex flex-col sm:flex-row gap-12 justify-between">
      <article class="w-full">
        <div class="flex flex-col gap-4 border rounded-md px-2 pt-2">
          {
            cart.items.length > 0 ? (
              <table>
                <tr>
                  <th>&nbsp;</th>
                  <th class="font-normal">Productos</th>
                  <th class="font-normal">Precio</th>
                  <th class="font-normal">Unidades</th>
                  <th class="font-normal">Subtotal</th>
                  <th>&nbsp;</th>
                </tr>
                {cart.items.map((product: CartItem) => (
                  <tr>
                    <td class="max-w-14">
                      <img
                        src={product.picture_url}
                        alt={product.title}
                        class="w-10 h-10 sm:w-14 sm:h-14"
                      />
                    </td>
                    <td>
                      <h4 class="text-primary sm:text-xl text-center">
                        {product.title}
                      </h4>
                    </td>
                    <td>
                      <p class="text-black text-center text-base">
                        {product.unit_price.toLocaleString("es-AR", {
                          style: "currency",
                          currency: "ARS",
                          minimumFractionDigits: 0,
                        })}
                      </p>
                    </td>
                    <td class="text-center">
                      <span class="text-center">{product.quantity}</span>
                    </td>
                    <td class="text-center">
                      {(product.quantity * product.unit_price).toLocaleString(
                        "es-AR",
                        {
                          style: "currency",
                          currency: "ARS",
                          minimumFractionDigits: 0,
                        }
                      )}
                    </td>
                    <td>
                      <DeleteItemButton
                        client:visible
                        product_id={product.id}
                      />
                    </td>
                  </tr>
                ))}
              </table>
            ) : (
              <div class="p-3  flex flex-col justify-center items-center gap-2">
                <Sad />
                <span class="text-base">No hay productos en el carrito</span>
              </div>
            )
          }
        </div>
      </article>
      <OrderResume client:visible cart={cart}/>
    </section>
  </main>
</Layout>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px;
  }
</style>
