---
export const prerender = false;
import { getCarruselImages } from "@/services/fetchData";

const carrusel = await getCarruselImages();
const BASE_URL = import.meta.env.AWS_CLOUDFRONT_URL;
---

<section class="relative overflow-hidden">
  <a
    href={carrusel.images[0].href}
    id="banner_carrusel"
    data-items={carrusel.length}
    class="flex transition-transform duration-1000"
  >
    {
      carrusel?.images?.map((i: any, index: number) => {
        return (
            <img class="w-full object-cover" src={`${BASE_URL}/carrusel/${i.banner_url}`} alt={`Banner_${index}`} />
        );
      })
    }
  </a>
  <button
    id="carrusel_prev_btn"
    class="absolute top-1/2 transform -translate-y-1/2 left-10"
  >
    <img
      class="size-16 opacity-10 transition-opacity hover:opacity-100"
      src=`${BASE_URL}/assets/left-arrow.svg`
      alt="Imagen anterior"
      title="Ir a la imagen anterior"
    />
  </button>
  <button
    id="carrusel_next_btn"
    class="absolute top-1/2 transform -translate-y-1/2 right-10"
  >
    <img
      class="size-16 rotate-180 opacity-10 transition-opacity hover:opacity-100"
      src=`${BASE_URL}/assets/left-arrow.svg`
      alt="Imagen siguiente"
      title="Ir a la imagen siguiente"
    /></button
  >
  <div class="absolute w-full bottom-0 flex justify-center">
    {
      carrusel.images.map((_: string, index: number) => {
        return (
          <span
            id={`banner_${index}`}
            class={`banners h-1 w-6 bg-gray-300 ${index == 0 ? "opacity-100" : "opacity-40"} transition-opacity m-1`}
          />
        );
      })
    }
  </div>
</section>

<script is:inline>  
  document.addEventListener("astro:page-load", () => {
    const carrusel = document.getElementById("banner_carrusel");
    const arrItems = carrusel?.children.length;
    const carrusel_W = carrusel?.offsetWidth;
    const screen_w = window.screen.width;

    const next_btn = document.getElementById("carrusel_next_btn");
    const prev_btn = document.getElementById("carrusel_prev_btn");

    let current = 0;
    let isAnimating = false;

    //EVENTE LISTENER TO CLICK AND SET NEW CURRENT BANNER
    // const banners = document.querySelectorAll(".banners");
    // banners.forEach((elem, index) => {
    //   elem.addEventListener("click", () => {
    //     if (isAnimating) return;
    //     isAnimating = true;
    //     setCurrentItem(current, index);
    //     current = index;
    //     setTranlation();
    //     isAnimating = false;
    //   });
    // });

    function setCurrentItem(current, next) {
      const current_elem = document.getElementById(`banner_${current}`);
      const elem_to_set = document.getElementById(`banner_${next}`);

      current_elem?.classList.replace("opacity-100", "opacity-40");
      elem_to_set?.classList.replace("opacity-40", "opacity-100");
    }

    function moveRight() {
      if (isAnimating) return;
      isAnimating = true;

      const items = arrItems - 1;
      if (current !== items) {
        setCurrentItem(current, current + 1);
        current += 1;
        setTranlation();
      } else {
        setCurrentItem(current, 0);
        setTranlation(true);
        current = 0;
      }

      setTimeout(() => {
        isAnimating = false;
      }, 1000);
    }

    function moveLeft() {
      if (isAnimating || current == 0) return;
      isAnimating = true;

      setCurrentItem(current, current - 1);
      current -= 1;
      setTranlation();

      setTimeout(() => {
        isAnimating = false;
      }, 1000);
    }

    function setTranlation(initial = false) {
      if (carrusel_W && carrusel) {
        const sizeToMove = current * ((screen_w / carrusel_W) * 100);

        if (initial) {
          carrusel.style.transform = `translateX(0%)`;
        } else {
          carrusel.style.transform = `translateX(-${sizeToMove}%)`;
        }
      }
    }

    next_btn?.addEventListener("click", () => {
      moveRight();
    });
    prev_btn?.addEventListener("click", () => {
      moveLeft();
    });

    setInterval(() => {
      moveRight();
    }, 6500);
  });
</script>
